<% flash.each do |k, v| %>
  <div class="flash"><%= k %> -- <%= v %></div>
<% end %>

<%= link_to "New User?", user_sign_up_url %>

<h2>Please sign in.</h2>
<%= form_for @user, url: sessions_path do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "Sign in" %>
  </p>

<% end %>
